*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Tema claro */
html.light {
  --bg-color: #f5f5f5;
  --text-color: #222;
  --primary-color: #0066ff;
  --bg-color-table: #b4b4b4;
}

/* Tema escuro */
html.dark {
  --bg-color: #18171c;
  --text-color: #f5f5f5;
  --primary-color: #4e9eff;
  --bg-color-table: #1d1c20;
}


body{
  background-color: var(--bg-color);
  color: var(--text-color);
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  font-size: 16px;
  font-family: sans-serif;
  transition: background 0.25s ease, color 0.25s ease;
}

button{
  cursor: pointer;
  border: 0;
}

a{
  text-decoration: none;
  color: #fff;
}