.container{
  padding: 0 14px;
  color: #FFF;
}

.center{
  text-align: center;
  margin-bottom: 14px;
  color: var(--text-color)
}

.content{
  background-color: var(--bg-color-table);
  margin: 24px auto;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;  
  max-width: 420px;
  border-radius: 14px;
  gap: 14px;
  color: var(--text-color)
}

.logo{
  width: 60px;
  height: 60px;
  transition: all 1s;
}

.logo:hover{
  transform: rotate(360deg);
  cursor: pointer;
}

a {
  color: var(--text-color)
}

.profit{
  color: #12f98a;
}

.loss{
  color: #f91257;
}